* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 50% 50%, #091525, #00030C) no-repeat;
}

h2 {
  background: -webkit-linear-gradient(#fbfce8 , #9c8761);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  opacity: 0;
  animation: presentWithMove 1s forwards .5s;
}

.socialContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

.link {
  opacity: 0;
  animation: present 1.5s forwards 1.5s;

  &:nth-child(2) {
    animation-delay: 2s;
  }
  &:nth-child(3) {
    animation-delay: 2.5s;
  }
}

.fb {
  width: 30px;
}


@keyframes presentWithMove {
  0% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes present {
  100% {
    opacity: 1;
  }
}