.about {
  margin-top: 60px;

  .sectionHeaderText {
    font-size: 40px;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 41px;

    .card {
      background: var(--primary_color);
      padding: 43px 20px;
      border-radius: 16px;
      width: 100%;

      color: var(--white);

      .title {
        font-size: 24px;
        margin-top: 29px;
      }

      .description {
        margin-top: 12px;
        font-size: 16px;
      }
    }
  }
}


@media only screen and (width < 1440px) {
  .about {
    margin-top: 40px;

    .sectionHeaderText {
      font-size: 20px;
      text-align: left;
    }

    .cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;

      .card {
        background: var(--primary_color);
        padding: 32px 16px;
        border-radius: 16px;
        width: 100%;

        color: var(--white);

        .title {
          font-size: 18px;
          margin-top: 10px;
        }

        .description {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
}