.about {
  margin-top: 60px;

  .sectionHeaderText {
    font-size: 40px;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 41px;

    .card {
      background: var(--primary_color);
      padding: 43px 20px;
      border-radius: 16px;
      width: 100%;

      color: var(--white);

      .title {
        font-size: 24px;
        margin-top: 29px;
      }

      .description {
        margin-top: 12px;
        font-size: 16px;
      }
    }
  }
}