.feedBack {
  margin-top: 80px;

  .headerText {
    text-align: center;
    font-size: 40px;
  }

  .content {
    margin-top: 32px;
    padding: 20px;
    box-shadow: 0 4px 4px #00000040;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 606px auto;
    gap: 20px;

    .imageBox {
      .image {
        width: 100%;
        aspect-ratio: 1/1.1;
        object-fit: cover;
        border-radius: 20px;
      }
    }

    .form {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .submit {}

      textarea {
        resize: none;
      }
    }
  }
}

@media only screen and (width < 1440px) {
  .feedBack {
    margin-top: 30px;

    .headerText {
      text-align: left;
      font-size: 20px;
    }

    .content {
      margin-top: 20px;
      padding: 16px;
      box-shadow: 0 4px 4px #00000040;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .imageBox {
        .image {
          width: 100%;
          aspect-ratio: 1.4/1;
          object-fit: cover;
          object-position: 0% 80%;
          border-radius: 20px;
        }
      }

      .form {
        width: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .submit {}

        textarea {
          resize: none;
        }
      }
    }
  }
}