.header {
  background: var(--primary_color);
  color: var(--white);
  padding: 10px 0;
  box-shadow: 7px 9px 8px #00000033;
  position: sticky;
  top: 0;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    a {
      color: var(--white);
      text-decoration: none;
      padding: 10px;
      border-bottom: 1px solid #0000;
    }

    a:hover {
      border-color: var(--white);
    }
  }

  .actions {
    display: flex;
    gap: 40px;
  }

  .languageContainer {
    position: relative;

    .languageSelectButton {
      padding: 0;
    }

    .otherLanguages {
      position: absolute;
      right: 0;
      top: calc(100% + 10px);
      border-radius: 20px;
      padding: 20px 16px;
      width: 236px;
      background: var(--white);
      border: 1px solid var(--lightGray);

      .flag {
        width: 100%;
        padding: 12px 0;
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: var(--black);

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }

        &+& {
          border-radius: 0;
          border-top: 1px solid var(--lightGray);
        }
      }
    }
  }
}


@media only screen and (width < 1440px) {
  .header { 
    
  }
}