.preFooter {
  margin-top: 84px;

  .content {
    padding-top: 78px;
    border-radius: 16px;
    display: flex;
    gap: 90px;
    background: var(--footerColor);

    .info {
      .headerText {
        font-size: 32px;
        font-weight: 500;
        color: var(--primary_color);
      }

      .description {
        font-size: 16px;
        margin-top: 12px;
        color: var(--gray);
      }

      .button {
        color: var(--gray);
        border-color: var(--gray);
        background: none;
        margin-top: 17px;
      }
    }
  }
}

@media only screen and (width < 1440px) {
  .preFooter {
    margin-top: 40px;

    .content {
      display: flex;
      flex-direction: column-reverse;
      padding: 20px 7px;
      padding-bottom: 0;
      border-radius: 16px;
      gap: 90px;
      background: var(--footerColor);

      .phones {
        width: 100%;
        margin-top: 26px;
        translate: 0 4px;
      }

      .info {
        text-align: center;
        .headerText {
          font-size: 20px;
        }

        .description {
          font-size: 16px;
          margin-top: 12px;
          color: var(--gray);
        }

        .button {
          color: var(--gray);
          border-color: var(--gray);
          background: none;
          margin: auto;
          margin-top: 17px;
        }
      }
    }
  }
}