.preFooter {
  margin-top: 84px;

  .content {
    padding-top: 78px;
    border-radius: 16px;
    display: flex;
    gap: 90px;
    background: var(--footerColor);

    .info {
      .headerText {
        font-size: 32px;
        font-weight: 500;
        color: var(--primary_color);
      }

      .description {
        font-size: 16px;
        margin-top: 12px;
        color: var(--gray);
      }

      .button {
        color: var(--gray);
        border-color: var(--gray);
        background: none;
        margin-top: 17px;
      }
    }
  }
}

@media only screen and (width < 1440px) {
  .preFooter {
    .content {
      display: flex;
      flex-direction: column;
    }
  }
}