.startWithUs {
  margin-top: 72px;

  .textSection {
    .headerText {
      font-size: 48px;
      margin: auto;
      text-align: center;
      color: var(--primary_color);
    }

    .desctiption {
      font-size: 16px;
      margin: auto;
      margin-top: 24px;
      text-wrap: balance;
      text-align: center;
    }

    .btn_stroke {
      margin: auto;
      margin-top: 20px;

      .svg_2 {
        display: none;
      }
    }

    .btn_stroke:hover {
      .svg_1 {
        display: none;
      }

      .svg_2{ 
        display: block;
      }
      
    }
  }

  .imgSection {
    margin-top: 60px;

    .mac {
      width: 100%;
    }
  }
}

@media only screen and (width < 1440px) {
  .startWithUs {
    margin-top: 40px;

    .textSection {
      .headerText {
        font-size: 20px;
        margin: auto;
        text-align: center;
        text-wrap: balance;
        color: var(--primary_color);
      }

      .desctiption {
        margin: auto;
        margin-top: 8px;
        text-wrap: balance;
        text-align: center;
      }
    }

    .imgSection {
      margin-top: 20px;

      .mac {
        width: 100%;
        aspect-ratio: 19/15;
        border-radius: 16px;
      }
    }
  }
}