* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserratarm", Arial, Helvetica, sans-serif;
}

html {
  scroll-padding-top: 100px;
}

input,
textarea {
  border: 1px solid #0000001A;
  padding: 12px 14px;
  border-radius: 20px;
}

.a_button {
  width: fit-content;
  text-decoration: none;
}

button, .a_button {
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  height: 40px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
}

button:hover, .a_button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

/* primary */
.btn_primary {
  background: var(--primary_color);
  color: var(--white);
}

.btn_primary:hover {
  background: var(--white);
  color: var(--primary_color);
  box-shadow: 0 5px 10px #0005;
}

/* secondary */
.btn_secondary {
  background: var(--white);
  color: var(--primary_color);
}

.btn_secondary:hover {
  background: var(--primary_color);
  color: var(--white);
}

/* stroke */
.btn_stroke {
  background: var(--white);
  color: var(--primary_color);
  border: 1px solid var(--primary_color);
}

.btn_stroke:hover {
  background: var(--primary_color);
  color: var(--white);
}

.container {
  max-width: 1440px;
  padding: 0 60px;
  margin: auto;
}


@media only screen and (width < 1440px) {
  html {
    scroll-padding-top: 150px;
  }

  .container {
    max-width: 100%;
    padding: 0 16px;
  }

}