@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-ExtraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-ExtraBold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../assets/font/Montserratarm-Black.otf') format('opentype');
  font-weight: 900;
}