/* general */
@import url('./general/colors.css');
@import url('./general/default.css');

/* sections */
@import url("./sections/header.css");
@import url("./sections/startWithUs.css");
@import url("./sections/about.css");
@import url("./sections/team.css");
@import url("./sections/services.css");
@import url("./sections/portfolio.css");
@import url("./sections/priceList.css");
@import url("./sections/feedBack.css");
@import url("./sections/preFooter.css");
@import url("./sections/footer.css");
